@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://unpkg.com/leaflet/dist/leaflet.css');



  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: gray lightgray;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: lightgray;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
    border: 2px solid lightgray;
  }

  .hide-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;    
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;  
  }

  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes slide-down {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.modal-slide-down {
  animation: slide-down 0.3s ease-out forwards; 
}
  
  .modal-slide-up {
    animation: slide-up 0.3s ease-out forwards; 
  }